<%= render 'shared/errors', obj: @student %>

<div class="container">
  <div class="row center sign-up-form">
    <div class="col s12 m12 l12">
      <div class="card-panel">
        <h3 class="header"><%= @student.new_record? ? "Sign Up" : "Edit Profile" %></h3>
        <div class="row">
          <%= form_for(@student, html: {class: "col s12"}) do |f| %>
            <div class="row">
              <div class="input-field col s12">
                <%= f.text_field :name, placeholder: 'Enter name', class: 'validate', autofocus: true %>
                <%= f.label :name %>
              </div>
            </div>
            <%# <div class="row">
              <div class="input-field col s12">
                <input id="password" type="password" class="validate">
                <label for="password">Password</label>
              </div>
            </div> %>
            <div class="row">
              <div class="input-field col s12">
                <%= f.email_field :email, placeholder: 'Enter email', class: 'validate' %>
                <%= f.label :email %>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <%= f.submit(@student.new_record? ? "Sign Up" : "Update Profile", class: 'btn teal lighten-1 waves-effect waves-light') %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

  